<div class="footer">
    <div class="f1">
        <span>
            <h6>Inserting </h6>
        </span>
    </div>
    <div class="f2">
        <div class="mergedBtn1">
            <button class="mgBtn">Cancel</button>
            <button class="mgBtn" style="display: none;">Save</button>
        </div>
        <div class="mergedBtn2">
            <button class="mgBtn">Approve ?</button>
            <button class="mgBtn">Print</button>
            <button class="mgBtn">Setting</button>
        </div>
    </div>
</div>


<router-outlet></router-outlet>